<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../assets/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h1>单项数据绑定</h1>
      <input type="text" :value="name" />
      <hr />
      <h1>双向数据绑定</h1>
      <input type="text" v-model="name" />
      <!-- 注：v-model只能用于表单类元素！ -->

      <!-- 缩写 -->
      <!-- v-bind   ： -->
      <!-- v-model  v-model= -->
    </div>
  </body>
  <script>
    new Vue({
      el: '#root',
      data: {
        name: '大菊',
      },
    });
  </script>
</html>
