<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../assets/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <form action="">
        <div>
          <span>姓：</span>
          <input type="text" v-model="firstName" />
        </div>
        <div>
          <span>名：</span>
          <input type="text" v-model="lastName" />
        </div>
        <p>全名：{{getFullName()}}</p>
      </form>
    </div>
  </body>
  <script>
    new Vue({
      data() {
        return {
          firstName: '',
          lastName: '',
        };
      },
      methods: {
        getFullName() {
          return `${this.firstName}-${this.lastName}`
        },
      },
    }).$mount('#root');
  </script>
</html>
